html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto; /* fuerza al footer a estar al final */
}

body {
      font-family: 'Georgia', serif;
      margin: 0;
      background-color: #F5EFE6;
      color: #432323;
      min-height: 100vh ;
    }

   .faq-container {
     max-width: 900px; 
     margin: 50px auto; 
     padding: 0 20px;
      flex: 1;
     }
    .faq-item {
      border: 1px solid #432323;
      border-radius: 10px;
      margin-bottom: 15px;
      background-color: #fefaf7;
      overflow: hidden;
      box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    }

    .faq-question {
      padding: 15px 20px;
      cursor: pointer;
      font-weight: bold;
      position: relative;
    }

    .faq-question::after {
      content: '+';
      position: absolute;
      right: 20px;
      font-size: 20px;
      transition: transform 0.3s;
    }

    .faq-item.active .faq-question::after {
      transform: rotate(45deg);
    }

    .faq-answer {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease;
      padding: 0 20px;
      background-color: #F3CFCB;
    }

    .faq-answer p {
      margin: 15px 0;
    }